body
{

font-family:"Georgia";
background-color:rgb(141, 169, 196)
}


/* unvisited link */
a:link {
    color:rgb(238, 244, 237) 
}

/* visited link */
a:visited {
    color: red; )
}

/* mouse over link */
a:hover {
    color:rgb(238, 244, 237)
}

/* selected link */
a:active {
    color:rgb(238, 244, 237)
}

tr:hover {background-color: #f5f5f5}

/* Navigation Bar */
li {
    display: inline;

	overflow:hidden;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 30px;
    background-color:rgb(141, 169, 196)