body
{

font-family:"Georgia";
background-color:rgb(141, 169, 196)
}


/* unvisited link */
a:link {
    color:rgb(238, 244, 237) 
}

/* visited link */
a:visited {
    color: red; )
}

/* mouse over link */
a:hover {
    color:rgb(238, 244, 237)
}

/* selected link */
a:active {
    color:rgb(238, 244, 237)
}

tr:hover {background-color: #f5f5f5}


/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(141, 169, 196)
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navigation Bar */
ul {
       list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
    color:rgb(141, 169, 196);
}

nav {
    text-align: left;
    {

